.conteiner {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: #ffffff;
}
.imagem {
	width: 600px;
	height: 600px;
	margin-right: 30px;
	background-size: cover;
	background-position: center;
	background: url(../../assets/oficina.jpeg);
	border-radius: 30px;
	position: relative;
}

.sobre-destaque {
	text-align: center;
	margin-left: 50px;
	border: 1px solid red;
	display: inline-block;
	width: 150px;
	height: 100px;
	background: var(--cor-secondary);
	border-radius: 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.sobre-destaque span {
	color: #ffffff;
	font-size: 18px;
	font-weight: 900;
	display: block;
}
.sobre-destaque i {
	display: inline-block;
	margin-top: 15px;
	font-size: 40px;
}
.conteudo {
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
}
.h3 {
	color: brown;
	margin: 0;
}
.titulo {
	margin: 0;
	padding: 0;
	color: var(--cor-primary);
	font-size: 3.5em;
}
.paragrafo {
	line-height: 1.6;
	font-size: 20.9px;
	color: #000000;
	text-align: justify;
}
.itens {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 30px;
}
.item {
	width: 45%;
	color: #000000;
}
.item img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	right: 2px;
}
